<footer class="footer mt-auto bg-black text-light" style="margin-top: 20px; padding-top: 20px; padding-bottom: 20px;">
  <div class="container-fluid">
    <div class="row justify-content-center mx-2 ms-5">
      <div class="col-md-3 text-start">
        <h4>Category</h4>
        <ul class="list-unstyled">
          <li><a class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light" routerLinkActive="active"
            routerLink="/list"
            [queryParams]="{ gender: 'men' }">Men</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light" routerLinkActive="active"
            routerLink="/list"
            [queryParams]="{ gender: 'women' }">Women</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light" routerLinkActive="active"
            routerLink="/list"
            [queryParams]="{ gender: 'kids' }">Kids</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light" routerLinkActive="active"
            routerLink="/list"
            >All</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-start">
        <h4>Company Info</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">About Us</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Careers</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Press</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-start">
        <h4>Tech Support</h4>
        <ul class="list-unstyled">
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Help</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Shipping</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Returns</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Size Charts</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Contact Us</a></li>
          <li><a href="#" class="link-underline-dark link-underline-opacity-50 link-opacity-100 link-light link-underline-opacity-100-hover text-light">Accessibility</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-start">
        <h4>Follow Us</h4>
        <ul class="list-unstyled list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/FootLockerEU" class="text-light"><i class="fab fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/FootLockerEU" class="text-light"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/footlockeruk/" class="text-light"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/user/footlockerEU" class="text-light"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
    <hr class="text-light" style="margin-top: 20px;">
    <div class="row">
      <div class="col-md-12 text-center" style="color: #f2f2f2d5">
          <span>© 2024 Foot Locker. All Rights Reserved</span>
      </div>
    </div>
  </div>
</footer>