<main class="d-flex justify-content-center">
  <section class="col-11 col-xl-10 border border-top-0 py-4 px-4">
    <p class="fs-4 fw-semibold mb-4">Recently Viewed</p>
    <div
      class="d-flex flex-column align-items-start containerZoom"
      style="max-width: 260px"
      
    >
      <div class="bg-dark bg-opacity-10 p-2 border w-100 imgContainer">
        <img
          src="https://images.footlocker.com/is/image/FLEU/314105532304?wid=581&hei=581&fmt=png-alpha"
          class="img-fluid zooming"
          
        />
      </div>
      <div class="p-3 text-black d-flex flex-column align-items-start">
        <p class="fs-6 fw-bold">Jordan 1 Mid</p>
        <p class="mb-0">£ 37.99</p>
      </div>
    </div>
  </section>
</main>
