<div class="contain d-flex justify-content-center align-items-center">
  <div
    class="border border-black rounded-1 p-5 w-75 d-flex flex-column flex-lg-row gap-5 my-5 justify-content-center align-items-center"
    style="max-width: 1000px"
  >
    <div class="w-100 w-lg-50 d-flex flex-column gap-lg-4">
      <p class="display-5 fw-bold">Step into Style</p>
      <p class="display-6">Where Every Step Tells a Story!</p>
      <p>
        Welcome to Foot Locker, where shoes aren't just footwear; they're
        statements of style and stories waiting to be told. Step into our world
        of unparalleled comfort, timeless elegance, and cutting-edge designs.
      </p>
      <div id="google-btn"></div>
    </div>
    <div style="max-width: 300px">
      <img
        src="../../../assets/images/one-black-sneaker-shoe-isolated-white.jpg"
        alt=""
        class="img-fluid w-100"
      />
    </div>
  </div>
</div>
