a {
  color: black;
  padding: 4px 8px;
  border: 100%;
}

a:hover {
  scale: 1.1;
  outline: 1px solid black;
}

a.active {
  outline: 1px solid black;
}

a.disabled {
  color: lightgray;
  font-style: italic;
  pointer-events: none;
}
